{% extends "base.html" %}
{% block content %}


<script>
/** Notice
The input MUST come before the label, or else the `checked` state will not work!
*/

/**
Vue js is not required for this, I am using it to show that the buttons do in fact work as expected.
*/
new Vue ({
  el: 'body',
  data: {
    checked: []
  },
  computed: {
    requiredErrorMsg: function () {
      return 'Required fruit !!'
    },
    minlengthErrorMsg: function () {
      return 'Please chose at least 1 fruit !!'
    },
    maxlengthErrorMsg: function () {
      return 'Please chose at most 2 fruits !!'
    }
  }
})
</script>

<div class="row">
  <div class="span12">
    <div class="checkbox-btn-group checkbox-selection-group">
      <div class="form-check">
        <input type="checkbox" name="radio" value="button_1" checked="checked" v-model="checked" id="button_1"
        v-validate:checkbox="{
          required: { rule: true, message: requiredErrorMsg },
          minlength: { rule: 1, message: minlengthErrorMsg },
          maxlength: { rule: 2, message: maxlengthErrorMsg }
        }"       
        >
        <label for="button_1">Button 1</label>
      </div>
      <div class="form-check">
        <input type="checkbox" name="radio" value="button_2" v-model="checked" id="button_2"/>
        <label for="button_2" v-validate:checkbox>Button 2</label>
      </div>
      <div class="form-check">
        <input type="checkbox" name="radio" value="button_3" v-model="checked" id="button_3"/>
        <label for="button_3" v-validate:checkbox>Button 3</label>
      </div>
      <div class="form-check">
        <input type="checkbox" name="radio" value="button_4" v-model="checked" id="button_4"/>
        <label for="button_4" v-validate:checkbox>Button 4</label>
      </div>
      <div class="form-check">
        <input type="checkbox" name="radio" value="button_5" v-model="checked" id="button_5"/>
        <label for="button_5" v-validate:checkbox>Button 5</label>
      </div>
      <div class="form-check">
        <input type="checkbox" name="radio" value="button_6" v-model="checked" id="button_6"/>
        <label for="button_6" v-validate:checkbox>Button 6</label>
      </div>
    </div>
    
     <ul class="errors">
      <li v-for="msg in $validation1.checkbox.errors">
        <p>{{msg.message}}</p>
      </li>
    </ul>
    
    <h5 class="show m-t-2">Currently checked value: <span>{{ checked }}</span></h5>

    <form method="POST" action="/">
      {% csrf-field %}
      <p><strong>Filter the list:</strong></p>
        <fieldset>
        {% for row in regions %}
          <label class="custom">
            <input type="checkbox" {{row.checked}}
                 name="region"
                 value="{{row.region}}"> {{row.region}} </label>
                 <span class="checkmark"></span>
        {% endfor %}
        </fieldset>
        <hr />
        <fieldset>
                <label class="checkbox-inline">                    
                    <input type="checkbox" {{ months.Jan }}
                           name="month"
                           value="Jan"> January</label>
                <label class="checkbox-inline">                    
                            <input type="checkbox" {{ months.Feb }}
                           name="month"
                           value="Feb"> February</label>
                           <label class="checkbox-inline">    
                           <input type="checkbox" {{ months.Mar }}
                           name="month"
                           value="Mar"> March</label>
                           <label class="checkbox-inline">
                    <input type="checkbox" {{ months.Apr }}
                           name="month"
                           value="Apr"> April</label>
                           <label class="checkbox-inline">                           
                    <input type="checkbox" {{ months.May }}
                           name="month"
                           value="May"> May</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.Jun }}
                           name="month"
                           value="Jun"> June</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.Jul }}
                           name="month"
                           value="Jul"> July</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.Aug }}
                           name="month"
                           value="Aug"> August</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.Sep }}
                           name="month"
                           value="Sep"> September</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.Oct }}
                           name="month"
                           value="Oct"> October</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.Nov }}
                           name="month"
                           value="Nov"> November</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.Dec }}
                           name="month"
                           value="Dec"> December</label>
        </fieldset>
        <hr />
        <fieldset>
                {% for row in books %}
                <label class="checkbox-inline">
                <input type="checkbox" {{row.checked}}
                           name="book"
                           value="{{row.book_name}}"> {{row.book_name}}</label>
                {% endfor %}
        </fieldset>
      <input type="submit" class="btn btn-primary" value="go" />
    </form>
  </div>
</div>

<div class="row">
    <div class="span12 events">
        <p><strong>All-day singings:</strong></p>
        <ul class="">
            {% for row in events %}
            <li>
                {{row.month}} {{row.dates}}: {{row.name}}
                <form action="/cart/{{row.id}}" method="post">
                    {% csrf-field %}
                    <input type="submit" value="Add to cart"/>
                </form><br />
            </li>
            {% endfor %}
        </ul>
    </div>
        {% endblock %}