{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="span12">
    <form method="POST" action="/">
      {% csrf-field %}
      <p><strong>Filter the list:</strong></p>
        <fieldset>
        {% for row in regions %}
          <label class="custom">
            <input type="checkbox" {{row.checked}}
                 name="region"
                 value="{{row.region}}"> {{row.country}} </label>
                 <span class="checkmark"></span>
        {% endfor %}
        </fieldset>
        <hr />
        <fieldset>
                <label class="checkbox-inline">                    
                    <input type="checkbox" {{ months.january }}
                           name="month"
                           value="january"> January</label>
                <label class="checkbox-inline">                    
                            <input type="checkbox" {{ months.february }}
                           name="month"
                           value="february"> February</label>
                           <label class="checkbox-inline">    
                           <input type="checkbox" {{ months.march }}
                           name="month"
                           value="march"> March</label>
                           <label class="checkbox-inline">
                    <input type="checkbox" {{ months.april }}
                           name="month"
                           value="april"> April</label>
                           <label class="checkbox-inline">                           
                    <input type="checkbox" {{ months.may }}
                           name="month"
                           value="may"> May</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.june }}
                           name="month"
                           value="june"> June</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.july }}
                           name="month"
                           value="july"> July</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.august }}
                           name="month"
                           value="august"> August</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.september }}
                           name="month"
                           value="september"> September</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.october }}
                           name="month"
                           value="october"> October</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.november }}
                           name="month"
                           value="november"> November</label>
                           <label class="checkbox-inline">                    <input type="checkbox" {{ months.december }}
                           name="month"
                           value="december"> December</label>
        </fieldset>
        <hr />
        <fieldset>
                {% for row in books %}
                <label class="checkbox-inline">
                <input type="checkbox" {{row.checked}}
                           name="book"
                           value="{{row.book_name}}"> {{row.book_name}}</label>
                {% endfor %}
        </fieldset>
      <input type="submit" class="btn btn-primary" value="go" />
    </form>
  </div>
</div>

<div class="row">
    <div class="span12 events">
        <p><strong>All-day singings:</strong></p>
        <ul class="">
            {% for row in events %}
            <li>
              {{row.month}} {{row.dates}}: {{row.name}}<br />
            </li>
            {% endfor %}
        </ul>
    </div>
        {% endblock %}